/* classi preliminari */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

/* /classi preliminari */

/* classi generiche */

.ms-wrapper {
  width: 90%;
  margin: 0 auto;
}

.ms-margin10 {
  margin: 10px;
}

.ms-alert-not-ok {
  text-transform: uppercase;
  color: red;
}
.ms-alert-ok {
  text-transform: uppercase;
  color: green;
}

/* /classi generiche */
